// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$myblack: #102347;
$myprimary: #286BEE;
$mygrey: #FEFEFE;
$mywhite: #FFFFFF;
$mygrey2: #E7ECEE;
$mygrey3: #F6F6F6;
$mydarkgrey: #7A868C;

$myred: #EB4F4F;
$mygreen: #0acf83;
