@tailwind base;
@tailwind components;
@tailwind utilities;
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');



// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// RESET 
@import 'reset';
// AUTH FILES
@import './auth/login.scss';
// APP Blade
@import './layouts/navbar.scss';

@import './layouts/header.scss';
//pages
@import './pages/user.scss';


.main-block{
    padding: 32px;
}

.input-form{
        text-align: left;
        .mylabel{
            font-size: 13px;
            color: $mydarkgrey;
        }
        .myinput{
            background-color: $mygrey3;
            border: 1px solid $mygrey2;
            width: 100%;
            padding: 4px 8px;
            border-radius: 4px;
            &:focus-visible{
               outline-color: $myprimary;
            }
        }
    }

    .invalid-feedback{
        font-size:12px;
        color: $myred;
        font-family: RobotoThin;
    }

.btn{
    border-radius: 8px;
    padding: 8px 16px;
}
.btn-primary{
    background: $myprimary;
}
