@font-face {
    font-family: RobotoBold;
    src: url('../font/Roboto-Bold.ttf'); // remember that font file path must be relative to the current css file. not the final compiled folder
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url('../font/Roboto-Medium.ttf'); // remember that font file path must be relative to the current css file. not the final compiled folder
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: RobotoThin;
    src: url('../font/Roboto-Thin.ttf'); // remember that font file path must be relative to the current css file. not the final compiled folder
    font-weight: thin;
    font-style: normal;
}

a{
    color: $mydarkgrey;
    text-decoration: underline;
}

h1{
    font-family: RobotoBold;
    font-size: 36px;
    line-height: 42px;
}
h2,h4,h5,h6,p{
    margin: 0;
    padding:0;
}

h3{
    font-family: Roboto;
    color: $mydarkgrey;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}
h4{
    font-family: Roboto;
    color: $myblack;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px; 
}
h6{
   color: $mydarkgrey; 
   font-size: 12px;
    line-height: 28px;
    letter-spacing: 1.5px;
}



body{
    font-family: Roboto;
}

main{
    padding: 0 64px;
}
ul{
    padding: 0;
}
button{
    border: none;
    background: none;
    padding: 0;
}

::-webkit-scrollbar {
    width: 12px;
 }
 .steps::-webkit-scrollbar {
    width: 4px;
 }
 
 ::-webkit-scrollbar-track {
    background-color: $mygrey3;
    border-radius: 50px;
 }
 
 ::-webkit-scrollbar-thumb {
    background-color: $mygrey2;
    border-radius: 50px;
 }
