main{
    padding: 0 0px;
}
.container-auth{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    div{
        &.side-block{
            flex: 1;
            background-color: $myprimary;
            height: 100%;
            width: 100%;
        }
        &.main-block{
            flex: 2;
            height: auto;
        }
    }
    .log-container{
        margin: 0 auto;
        text-align: center;  
        min-width: 280px;
        max-width: 340px;
        img{
            margin: 0 auto;
        }
        .forgot-password{
            font-size:13px
        }
    }
}
.logo_container{
    display: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
    .container-auth{
        height: 90vh;
        flex-direction: column;
        div{
           
            &.side-block{
                display:none;
            }
            &.main-block{ 
                flex: none;
               /*  height: auto; */
            }
      }
    }
    .logo_container{
        display: block;
        img{
            margin: 0 auto;
        }
    }
}

.container-input {
    width: 340px;
    margin: O auto;
    display: flex;
}


#container-input-radio{
  position: relative;
  width: 340px;
  height: 60px;
  justify-content: space-around;
  align-items: center;
}

.radios{
  display: none;
}

.label-radio{
  font-family: sans-serif;
  font-weight: 600;
  color: #bbb;
  
  cursor: pointer;
  transition: .5s;
}

.label-radio:hover, .radios:checked + .label-radio{
  color: #666;
}

#btn-radio{
  content: "";
  position: absolute;
  
  width: 120px;
  height: 40px;
  
  border: 2px solid $myprimary;
  border-radius: 40px;
  
  background-color: transparent;
  box-shadow: var(--sdw-gray);
  
  transition: .5s;
}

#btn-radio:hover{
  border: 2px solid #fff;
}

#radio-1:checked ~ #btn-radio{
  left: 15px;
}

#radio-2:checked ~ #btn-radio{
  left: 185px;
}


